.header {
  width: 100%;
  background-color: lightslategray;
  padding: 18px 15px;
}

.form {
  margin: 0 auto;
  width: 30%;
}

.input {
  outline: none;
  border: 1px solid #000;
  border-radius: 5px 0 0 5px;
  padding: 5px 5px;
  width: 80%;
}

.btn {
  padding: 4.5px 4.5px;
  width: 20%;
  border-radius: 0 5p 5px 0;
}
